.App {
  text-align: center;
  justify-content: center;
  align-items: center;
}
 .container{
  color:white
} 

span{
  border: solid black;
  margin: 20px;
  color: black;

}

.card{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.cad{
  gap: 2rem;

}